{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/tachyons.min.css" />
  </head>
  <body>
    <header class="w-100 ph5-ns">
      <div class="db dt-ns w-100 center">
        <div class="db dtc-ns tc tl-ns w-100 w-50-ns">
          <h1 class="ma0">OSS Reading Club</h1>
        </div>
        <div class="db dtc-ns tl tr-ns w-100 w-50-ns">
        {{ if .User.Name }}
          Hi {{ .User.Name }} &nbsp;<a href="/logout">Logout</a>
        {{ else }}
          Hello, would you like to <a href="/rc/login">Login</a>?
        {{ end }}
        </div>
      </div>
    </header>
    <main class="ph5-ns">
{{end}}
