{{define "oss"}}
<div>
  <div>{{.OSS.Name}}</div>
  <div>{{.OSS.URL.String}}</div>
  {{if .OSS.Description}}
  <div>{{.OSS.Description}}</div>
  {{end}}
  <div>{{.OSS.Votes}}</div>
  {{if eq .OSS.SubmitterID .User.ID}}
  <div>
    <a href="/oss/{{.OSS.ID}}/edit">Edit</a>
  </div>
  {{end}}
</div>
{{end}}
