{{template "header" .}}

{{ if .User.Name }}
  <p><a href="/oss">Suggest another project</a></p>
  <div>
    <p>Current Suggestions:</p>
    {{range .OSSes}}
    {{template "oss" .}}
    {{else}}
    <p>No OSSes yet :\</p>
    {{end}}
  </div>
{{ end }}

{{template "footer"}}
