{{template "header" .}}

<form action="/oss" method="post">
  <label for="name">Name</label>
  <br />
  <input type="text" name="name" placeholder="Go Zulip Bot" />
  <br />
  <label for="url">url</label>
  <br />
  <input type="text" name="url" placeholder="github.com/ifo/gozulipbot" />
  <br />
  <label for="description">Description</label>
  <br />
  <input type="text" name="description" placeholder="optional"/>
  <br />
  <button type="submit">Submit</button>
</form>

{{template "footer"}}
